<br>
&nbsp; <img src="https://www.amrita.edu/ahead/images/aheadlogosticky.svg" alt="AMRITA AHEAD" width="250"> 
<table align="right">
  <td align="left"><a href=""></a>Prev: None</td>
  <td align="center">Lab 2</td>
  <td align="right"><a href="https://colab.research.google.com/drive/1oQLfXiG-lfJ147RYpzP0qfM5iGOiuoIz">Next: Frog Jumping</a></td>
</table>

# **Week 2 - Lab 2.1 - Syntax - Python basics**
This lab sheet contains the basics of Python that was covered during this week. Short programs are given to expose every aspect the constructs covered. You can execute each program, understand how it works, make some minor changes and check the changes in the output to reinforce what you learnt in the class.

**Note**: You don't have to memorize the syntax. You just need to know that the constructs are available and what they can do for you. You can always refer back to this manual in case you want to use them for problem solving. Over a period of time, through repeated usage, they will automatically get into your memory gradually.

## **A. Printing Output (to Screen)**

Given below are the set of practice programs which was introduced during this week. Try running them and get familiar with the working of the syntax.

### 1a. A program to print "Hello Amrita".

In [ ]:
print('Hello Amrita')

Hello Amrita

### 2a. Another way to do the same thing. 
Note that whitespace is the default separator.

In [ ]:
print('Hello', 'Amrita')

### 2b. The separator can be changed to anything else, say "---".

In [ ]:
print('Hello', 'Amrita', sep='---')

Hello , Amrita

### 3a. A program to print "Hello" and "Amrita" in two lines.

In [ ]:
print('Hello')
print('Amrita')

Hello
Amrita

### 3b. Another way to do the same thing. 
Use '\n' which means newline.

In [ ]:
print('Hello\nAmrita') # / forward slash \ backslash

Hello
Amrita

### 3c. Introduce a tab space between "Hello" and "Amrita". 
tab is typically 4 or 8 whitespaces.

In [ ]:
print('Hello\tAmrita')

Hello	Amrita

### 4a. Printing an integer, say 123. 
Note that 123 is different from "123".

In [ ]:
print(1234567890)

123456789012345678901234567890123456799450938509385043850

### 4b. Printing a floating point number, say 3.14. 
Again, 3.14 is different from "3.14".

In [ ]:
print(3.14)

3.14000001

## **B. Variables and primitive types**

### 5a. An integer variable.
Assign integer to a variable and print the variable. Here, **radius** refers to a variable of integer type which takes the value 5.

In [ ]:
radius = 40
print(radius, type(radius))

40 <class 'int'>

### 5b. A floating point variable

Assign a floating point number to a variable and print the variable. Here, **pi** refers to a varible of floating point type which takes the value 3.14.

In [ ]:
pi = 3.14
print(pi,type(pi))

3.14 <class 'float'>

### 5c. A string variable
Assign a string to a variable and print the variable. Here, **degree** refers to a variable of String type which takes the value 'BCA'.

In [ ]:
degree = "B.Tech"
print(degree)

B.Tech

### 5d. A Boolean variable
Assign True or False to a variable and print. Here, **employed** refers to a variable of Boolean type which takes value True.

In [ ]:
employed = False
print(employed)

False

### 5e. Assigning values to multiple variables simultaneously
In a single line, you can assign values to multiple varaibles. The type of the variable is automatically inferred when the program is executed. The first one is a string, second one an integer, and last one a floating point.

In [ ]:
name, age, height, employed = 'Bharat', 25, 5.8, True
print(name,age,height,employed,sep=' || ')

Bharat || 25 || 5.8 || True

## **C. Reading Input (from keyboard)**

### 6a. Reading a string input

Reading a string input into a variable and printing it. Once you run, type your input using the keyboard when prompted.

In [ ]:
name = input()
print('Hello', name)

### 6b. Reading an integer input 

Reading an integer into a variable and print it. Type an integer when prompted. Try giving floating point or string and see what happens.

In [ ]:
age = int(input()) # By default input() returns a string. It needs to be convert to int using int() function
print(age)

5.0

ValueError: ignored

### 6c. Reading a floating point variable

Reading a floating point value into a variable and print it. Type an floating point number when prompted. Try giving integer or string and see what happens.

In [ ]:
height = float(input())
print('The height is', height)

5
The height is 5.0

### 6d. Reading a boolean variable

Reading a boolen value into a variable and print it. Type True or False when prompted.  **This is not working**

In [ ]:
employed = bool(input())
print('Employment status =', employed)

### 6e. Read input values one from each line

In [ ]:
name = input()
age = int(input())
height = float(input())
employed = bool(input())
print(name, age, height, employed)

Amrita
25
5.6
True
Amrita 25 5.6 True

### 6f. Reading multiple inputs in a single line

Use split() function to tokenize (based on whitespace) the input into multiple parts. Note that every value is read as a string. Converting to respective types should be done afterwards.

In [ ]:
name, age, height, = input().split() # This will read everything as string
print(name, age, height)
age = int(age)
height = float(height)
print(name, age, height)

Amrita 25 5.6
Amrita 25 5.6
Amrita 25 5.6

### 6g. Reading multiple integers in a single line

Use map() function to specify the type of the values. Here is the usage.

In [ ]:
a, b, c, d = map(int, input().split())
print(a,b,c,d)

1 2 3 4
1 2 3 4

## **D. Operators**

### 7a. Arithmetic operators
Arithmetic operators include + (addition), - (subtraction), * (multiplication), / (division), // (quotient), % (remainder) and ** (power). A program to demonstrate the working below.

In [ ]:
a, b = 5, 20
sum = a + b
diff = a - b
product = a * b
result = a / b
quotient = a // b
remainder = a % b
power = a ** b
print (sum, diff, product, result, quotient, remainder, power)

25 -15 100 0.25 0 5 95367431640625
95367431640603.17

You can do the same thing without using additional variables to store the results.
```
a, b = 5, 2
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)
```
Try adding a code block right below and check for yourself.

### 7b. Comparison operators

Comparison operators return a boolean value True or False depending on whether comparison succeeded or not. The comparison operators include == (equality), < (less than), <= (less than or equal to), > (greater than), >= (greater than or equal to), != (not equal).

Note: = is assignment operator. == is equality comparison operator.

In [ ]:
a, b = 5, 2
print(a == b+3)
print(a < b)
print(a <= b)  # <= is a single operator
print(a > b)
print(a >= b)
print(a != b)

True
False
False
True
True
True

In [ ]:
a,b = 5,2
print(a=b)

7

### 7c. Logical operators

Logical operators allow you to combine two or more comparison operations. Then include **and**, **or** and **not**. The first two are binary operators while the last one is unary. The result of any logical operation is a boolean value True or False.

Here is the program to demonstrate the operators.

In [ ]:
x, y, z = 2, 10, 7

print(x < y and y < z)  # Should print False since y is not less than z
print(x < y or y < z)  # Should print True since x is less than y
print(not x < y)  # Should print False since x < y is True and opposite of it is False.
print (x < y and not y < z)  # Should print true since x < y and y >= z
# These operators play a complementary role
print(x+y < z*2 and x*z <= y**5)

False
True
False
True
True

## **E. Conditional Branching**

### 8a. Perform an action based on condition
Check with different values of x and y. The indentation is important for the program to run.

In [ ]:
x = int(input())
y = int(input())
if x < y :
  print(x,  'is less than', y)

2
2

### 8b. Perform two different actions based on a condition.
Again check with different values of x and y.

In [ ]:
x = int(input())
y = int(input())
if x < y :
  print(x, 'is less than', y)
else :
  print(x, 'is not less than', y)

5
5
5 is not less than 5

### 8c. Perform three different actions based on conditions

This can be extended to any number of branchings.

In [ ]:
x = int(input())
y = int(input())
if x < y :                      # Condition 1
  print (x, 'is less than', y)        # Branching 1
elif x > y :                    # Condition 2
  print (x, 'is greater than', y)     # Branching 2
else :                          # Condition 3 (implicit)
  print (x, 'is equal to', y)         # Branching 3

3
3
3 is equal to 3

### 8d. Perform nested branching

In [ ]:
x,y,z = map(int, input().split())

if x < y :
  if y < z :
    print(x,y,z,'form a sorted sequence')
  else :
    print(x,y,z,'do not form a sorted sequence')
else :
  print(x,'is not less than', y)

1 0 5
1 is not less than 0

## **F. Iterations / loops**

### 9a. Print 'Hello Amrita' 10 times

In [ ]:
for i in range(10) :  # Start from 0, count until 9, increasing by 1 at a time
  print('Hello Amrita')     # i serves as a counter

Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita
Hello Amrita

### 9b. Print 'Hello Amrita' n times

In [ ]:
n = int(input())
for i in range(n) :   # Start from 0, count until n-1, increasing by 1 at a time
  print('Hello Amrita')

### 9c. Print 'Hello Amrita' along with count

In [ ]:
n = int(input())
for i in range(n) :   # Start from 0, go until n-1, increasing by 1 at a time
  print('Hello Amrita', i)

10
Hello Amrita 0
Hello Amrita 1
Hello Amrita 2
Hello Amrita 3
Hello Amrita 4
Hello Amrita 5
Hello Amrita 6
Hello Amrita 7
Hello Amrita 8
Hello Amrita 9

### 9d. Print 'Hello Amrita' starting from 1

In [ ]:
n = int(input())
for i in range(10,n+10) :   # Start from 1, go until n, taking 1 step at a time
  print('Hello Amrita', i)

5
Hello Amrita 10
Hello Amrita 11
Hello Amrita 12
Hello Amrita 13
Hello Amrita 14

### 9e. Print alternate numbers from 1 to n

In [ ]:
n = int(input())
for i in range(1,n,2) :  # Start from 1, go until n-1, jumping 2 steps
  print('Hello Amrita', i)

10
Hello Amrita 1
Hello Amrita 3
Hello Amrita 5
Hello Amrita 7
Hello Amrita 9

### 9e. Get n pairs of numbers as input and compute their sum

In [ ]:
n = int(input())
for i in range(n) :
  a,b = map(int, input().split())
  print(a+b)

3
2 5
7
5 -5
0
5 5
10

In [ ]:
n = int(input())
for i in range(n) :
  a, b = map(int, input().split())
  if a > b :
    print(a-b)
  else :
    print(b-a)

1
5 10
5

## **G. while loop**

### **10a. Conditional looping with while**

The **while** loop can be used to repeat a task based on the truth value of a certain condition. For example, the following program reads a and b, and iterates through the loop until the condition **a < b** becomes eventually true. 

Note that a is incremeneted and b is decremented by 1 within the loop. So sooner or later, a < b condition fails and the loop ends. If a >= b at the beginning, the loop is never entered.

The number of times the loop runs, differs from one run to the other depending on the input values given to a and b.

In [ ]:
a,b = map(int, input().split())
while a < b  :
  a = a + 1
  b = b - 1
  print(a, b)

5 10
6 9
7 8
8 7

**Question**: What would happen if a was never incremented and b was not decremented inside the while loop?

### **10b. Connection between for loop and while loop**

The **for** loop given below

In [ ]:
n = int(input())
for i in range(n) :
  print(i)

can be restated using **while** loop as follows. Note that, i should be explicitly initialized before the loop and explicitly incremented during the loop.

In [ ]:
n = int(input())
i = 0  # initialize i
while i < n :
  print(i)
  i = i + 1   # same as i += 1

### **10c. Breaking out of while loop**

The break statement is used to exit the loop even if the while condition is true. The following program takes a and b as input repeatedly, checks if a >= b and prints a/b. Additionally if b happens to be 0, it breaks out of the loop.

In [ ]:
a,b = 1,1
while a >= b :
  a,b = map(int,input().split())
  if b == 0 :
    print('Breaking out of the loop')
    break
  print(a/b)

5 0
Breaking out of the loop

### **10d. Continuing with the while loop**

The continue statement is used to skip the remaining statements and go to the beginning of the loop. The following program takes a and b as input repeatedly, checks if a is >= b and prints a/b. 
- If both a and b happens to be 0, it goes to the beginning of the while loop. 
- If b alone happens to be 0, it breaks out of the loop.

In [ ]:
a,b = 1,1
while a >= b :
  a,b = map(int,input().split())
  if a == 0 and b == 0 :
    continue
  if b == 0 :
    print('Breaking out of the loop')
    break
  print(a/b)

0 0
0 0
0 0
10 8
1.25
7 4
1.75
9 3
3.0
4 9
0.4444444444444444

## **H. Functions**

Functions can be thought of as sub-programs which performs a part of a computation independently. A function takes input in the form of parameters and returns a result as output. Functions are first defined and then called.

Why do we need functions?<br>
To break down the program into independent, manageable units with well-defined interface. Functions ensure modularity of code.

The following program defines a function which takes radius as input, computes the area of a circle and returns the area.

In [ ]:
def area(radius) :                  # This is function definition - area is its name, radius is its input parameter
  carea = 3.14 * radius * radius
  return carea                       # This is how function retuns the output to the caller

r = float(input())
a = area(r)                         # This is how a function is called and its output returned 
print(a, "sq. units")

10.0
314.0 sq. units

The following function sigma computes the sum of first n numbers.

In [ ]:
def sigma(n) :
  return n * (n+1) // 2

num = int(input())
print( sigma(num) )

10
55

The following function range_sum computes the sum of integers from a to b by using the sigma function.

In [ ]:
def sigma(n) :
  return n * (n+1) // 2

def range_sum(start, end) :
  return sigma(end) - sigma(start-1)

a,b = map(int,input().split())
print( range_sum(a,b) )

10 5
-30

What will happen if you input a and b such that a > b. First make a guess. Then try it out to check if your intuition worked.

Adding an **if condition** to make the code more robust. start and end are swapped first in case start > end.

In [ ]:
def sigma(n) :
  return n * (n+1) // 2

def range_sum(start, end) :
  if (start > end) :
    start, end = end, start
  return sigma(end) - sigma(start-1)

a,b = map(int,input().split())
print( range_sum(a,b) )

10 5
45